article.article-detail
    max-width: 992px

    .article-header
        img
            box-shadow: 0 0 25px $gray-500

    .article-body
        h1, h2, h3, h4, h5, h6
            margin-top: 2em
            margin-bottom: 1.5em

        ul
            padding-left: 5em

            li
                margin-bottom: 1.5em
                font-size: 1.4em
