.pagination-basic
    .nav-previous,
    .nav-next
        a
            display: inline-block
            padding: .5em 1em
            color: $gray-800
            border: 1px solid $gray-500
            border-radius: 4px

            i
                color: $gray-500
