*:focus
    outline: none

body
    font-family: 'BrandonTextLight', sans-serif
    font-size: 13px

    &.no-scroll
        overflow: hidden

a
    text-decoration: none !important

img
    max-width: 100%
    height: auto